<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.xCoordinates' | translate}}"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.yCoordinates' | translate}}"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.xData' | translate}}"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.yData' | translate}}"></textarea>
</md-input-container>
