@import "../../../assets/css/skins/indigo-pink";

.input-area{
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}

.table-save{
  float: right;
  margin: 10px 10px;
}

.add-item{
  display: inline-block;
  margin: 10px 10px;
}

section{
  border-bottom: 2px solid $basic-blue;
  &:last-child{
    border-bottom: none;
  }
}
