<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.xCoordinates' | translate}}" [(ngModel)]="xCoordinates"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.yCoordinates' | translate}}" [(ngModel)]="yCoordinates"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.xData' | translate}}" [(ngModel)]="xData"></textarea>
</md-input-container>
<md-input-container class="input-area">
  <textarea mdInput placeholder="{{'table.yData' | translate}}" [(ngModel)]="yData"></textarea>
</md-input-container>

