@import "../../../assets/css/skins/indigo-pink";

.titles {
  width: 46%;
  margin-top: 10px;
  margin-left: 10px;
}

:host ::ng-deep .input-focused {
  border-color: $basic-blue !important;
}

:host ::ng-deep .md2-colorpicker-input.input-focused .md2-colorpicker-placeholder {
  color: $basic-blue !important;
}

:host ::ng-deep .color-picker-selector .md2-colorpicker-value{
  min-width: 10px;
}

:host ::ng-deep .md2-colorpicker-input{
  min-width: 10px;
}

.title-color-picker,.subtitle-color-picker{
  display: inline-block;
  width: 48%;
}

:host-context(.cdk-overlay-container) ::ng-deep div{
  color: $basic-blue!important;
}
