<md-input-container class="titles">
  <input mdInput placeholder="{{'setting.title' | translate}}" [(ngModel)]="title">
</md-input-container>
<md-input-container class="titles">
  <input mdInput placeholder="{{'setting.subtitle' | translate}}" [(ngModel)]="subtitle">
</md-input-container>

<md2-colorpicker class="title-color-picker" [(ngModel)]="titleColor" placeholder="{{'setting.titleColor' | translate}}" ></md2-colorpicker>
<md2-colorpicker class="subtitle-color-picker" [(ngModel)]="subtitleColor" placeholder="{{'setting.subtitleColor' | translate}}" ></md2-colorpicker>
