@import '../../../assets/css/skins/indigo-pink';


.background{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: $basic-blue;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  .card {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 150px;
    height: 140px;
    margin-right: 20px;
    background: $basic-pink;
    border-radius: 40%;
    color: white;
    outline: none;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      cursor: pointer;
    }

    .card-content{
      width: 100%;
      text-align: center;
    }

    .iconfont {
      font-size: 50px;
    }
  }
}
