<mat-drawer-container class="container" autosize>
  <div class="sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      展开
    </button>
    <ul>
      <li *ngFor="let i of parentOptions">
        <button type="button" mat-button>
          {{ i }}
        </button>
      </li>
    </ul>
  </div>
  <mat-drawer #drawer class="sidenav" mode="side" position="end">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <ng-content></ng-content>

</mat-drawer-container>
