@import "../../assets/css/skins/indigo-pink";

.left-area{
  float: left;
  width: 50%;
  height: 100vh;
  border-right: 1px solid $basic-blue;
  background-color: $basic-blue;
}

.right-area{
  width: 50%;
  height: 100vh;
  float: right;
}

:host /deep/ .mat-tab-labels .mat-tab-label{
  min-width: 50%;
}
