<section class="left-area">
  <div echarts [options]="chartOption" class="echarts" (chartInit)="onChartInit($event)"></div>
</section>

<section class="right-area">
  <md-tab-group>
    <md-tab label="{{'chart.data' | translate}}">
      <section>
        <app-table></app-table>
        <button md-raised-button class="table-save" (click)="reloadEcharts()">{{"table.save" | translate}}</button>
      </section>
    </md-tab>
    <md-tab label="{{'chart.setting' | translate}}">
      <section>
        <button md-raised-button class="settings-save" (click)="reloadEcharts()">{{"table.save" | translate}}</button>
        <app-line-and-bar-settings></app-line-and-bar-settings>
      </section>
    </md-tab>
  </md-tab-group>
</section>



