<section class="left-area">
  <div echarts [options]="chartOption" class="echarts" (chartInit)="onChartInit($event)"></div>
</section>

<section class="right-area">
  <mat-tab-group>

    <mat-tab label="{{'chart.data' | translate}}">
      <app-series></app-series>
    </mat-tab>

    <mat-tab label="{{'chart.setting' | translate}}">
      <!--配置区-->
      <section>

        <mat-card>
          <!--是否显示标题-->
          <mat-slide-toggle class="title-slide-toggle" [color]="'primary'" [checked]="settings.titleChecked" [(ngModel)]="settings.titleChecked">{{'setting.isTitle' | translate}}</mat-slide-toggle>
          <!--标题内容-->
          <mat-input-container class="titles">
            <input matInput placeholder="{{'setting.title' | translate}}" [(ngModel)]="settings.title">
          </mat-input-container>
          <mat-input-container class="titles">
            <input matInput placeholder="{{'setting.subtitle' | translate}}" [(ngModel)]="settings.subtitle">
          </mat-input-container>

          <!--标题颜色-->
          <!--<md2-colorpicker class="title-color-picker" placeholder="{{'setting.titleColor' | translate}}"-->
                           <!--[(ngModel)]="settings.titleColor"></md2-colorpicker>-->
          <!--<md2-colorpicker class="subtitle-color-picker" placeholder="{{'setting.subtitleColor' | translate}}"-->
                           <!--[(ngModel)]="settings.subtitleColor"></md2-colorpicker>-->

          <!--标题字体大小-->
          <mat-select class="title-font-size" [(ngModel)]="settings.titleFontSize"
                     placeholder="{{'setting.titleFontSize' | translate}}">
            <mat-option *ngFor="let titleSize of titleSizes" [value]="titleSize">
              {{ titleSize }}
            </mat-option>
          </mat-select>

          <mat-select class="subtitle-font-size" [(ngModel)]="settings.subtitleFontSize"
                     placeholder="{{'setting.subtitleFontSize' | translate}}">
            <mat-option *ngFor="let subtitleSize of subtitleSizes" [value]="subtitleSize">
              {{ subtitleSize }}
            </mat-option>
          </mat-select>

          <!--主标题和副标题之间间隔-->
          <label for="itemGap" class="itemGap">{{'setting.itemGap' | translate}}</label>
          <mat-slider
            id="itemGap"
            [color]="'primary'"
            [max]="'40'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.itemGap">
          </mat-slider>

          <!--标题位置-->
          <label for="titleTop" class="title-top">{{'setting.titleTop' | translate}}</label>
          <mat-slider
            id="titleTop"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.titleTop">
          </mat-slider>

          <label for="titleLeft" class="title-left">{{'setting.titleLeft' | translate}}</label>
          <mat-slider
            id="titleLeft"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.titleLeft">
          </mat-slider>

          <!--边框线宽-->
          <label for="borderWidth" class="border-width">{{'setting.borderWidth' | translate}}</label>
          <mat-slider
            id="borderWidth"
            [color]="'primary'"
            [max]="'10'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.borderWidth">
          </mat-slider>

          <!--边框颜色-->
          <!--<md2-colorpicker class="border-color-picker" placeholder="{{'setting.borderColor' | translate}}"-->
                           <!--[(ngModel)]="settings.borderColor"></md2-colorpicker>-->

          <mat-card-actions>
            <button mat-raised-button (click)="reloadEcharts()" class="table-save">{{"table.save" | translate}}</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
          <!--是否显示图例-->
          <mat-slide-toggle class="legend-slide-toggle" [color]="'primary'" [checked]="settings.legendChecked" [(ngModel)]="settings.legendChecked">{{'setting.isLegend' | translate}}</mat-slide-toggle>

          <!--图例选择的模式-->
          <mat-slide-toggle class="selectedMode-slide-toggle" [color]="'primary'" [checked]="settings.isSelectedMode" [(ngModel)]="settings.isSelectedMode">{{'setting.isSelectedMode' | translate}}</mat-slide-toggle>

          <!--图例字体大小-->
          <mat-select class="legend-font-size" [(ngModel)]="settings.legendFontSize"
                     placeholder="{{'setting.legendFontSize' | translate}}">
            <mat-option *ngFor="let titleSize of titleSizes" [value]="titleSize">
              {{ titleSize }}
            </mat-option>
          </mat-select>

          <!--图例字体颜色-->
          <!--<md2-colorpicker class="legend-color-picker" placeholder="{{'setting.legendColor' | translate}}"-->
                           <!--[(ngModel)]="settings.legendColor"></md2-colorpicker>-->

          <!--图例位置-->
          <label for="legendTop" class="legend-top">{{'setting.legendTop' | translate}}</label>
          <mat-slider
            id="legendTop"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.legendTop">
          </mat-slider>

          <label for="legendLeft" class="legend-left">{{'setting.legendLeft' | translate}}</label>
          <mat-slider
            id="legendLeft"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.legendLeft">
          </mat-slider>

          <!--图例朝向-->
          <mat-select class="legend-orient" [(ngModel)]="settings.legendOrient"
                     placeholder="{{'setting.legendOrient' | translate}}">
            <mat-option [value]="'vertical'">
              {{'setting.Vertical' | translate}}
            </mat-option>
            <mat-option [value]="'horizontal'">
              {{'setting.Horizontal' | translate}}
            </mat-option>
          </mat-select>

          <!--图例之间间隔-->
          <label for="legendItemGap" class="itemGap legendItemGap">{{'setting.legendItemGap' | translate}}</label>
          <mat-slider
            id="legendItemGap"
            [color]="'primary'"
            [max]="'200'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.legendItemGap">
          </mat-slider>

          <!--边框线宽-->
          <label for="legendBorderWidth" class="itemGap legend-border-width">{{'setting.legendBorderWidth' | translate}}</label>
          <mat-slider
            id="legendBorderWidth"
            [color]="'primary'"
            [max]="'10'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.legendBorderWidth">
          </mat-slider>

          <!--边框颜色-->
          <!--<md2-colorpicker class="legend-border-color-picker" placeholder="{{'setting.legendBorderColor' | translate}}"-->
                           <!--[(ngModel)]="settings.legendBorderColor"></md2-colorpicker>-->

          <mat-card-actions>
            <button mat-raised-button (click)="reloadEcharts()" class="table-save">{{"table.save" | translate}}</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
          <!--显示直角坐标系网格-->
          <mat-slide-toggle class="grid-slide-toggle" [color]="'primary'" [checked]="settings.gridChecked" [(ngModel)]="settings.gridChecked">{{'setting.isGrid' | translate}}</mat-slide-toggle>
          <!--网格-->
          <mat-slide-toggle class="contain-label-slide-toggle" [color]="'primary'" [checked]="settings.containLabel" [(ngModel)]="settings.containLabel">{{'setting.containLabel' | translate}}</mat-slide-toggle>

          <!--grid区域是否包含坐标轴的刻度标签-->
          <label for="gridTop" class="grid-top">{{'setting.gridTop' | translate}}</label>
          <mat-slider
            id="gridTop"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.gridTop">
          </mat-slider>

          <label for="gridLeft" class="grid-left">{{'setting.gridLeft' | translate}}</label>
          <mat-slider
            id="gridLeft"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.gridLeft">
          </mat-slider>

          <label for="gridRight" class="grid-right">{{'setting.gridRight' | translate}}</label>
          <mat-slider
            id="gridRight"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.gridRight">
          </mat-slider>

          <label for="gridBottom" class="grid-bottom">{{'setting.gridBottom' | translate}}</label>
          <mat-slider
            id="gridBottom"
            [color]="'primary'"
            [max]="'100'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.gridBottom">
          </mat-slider>

          <!--网格边框线宽-->
          <label for="gridBorderWidth" class="itemGap grid-border-width">{{'setting.gridBorderWidth' | translate}}</label>
          <mat-slider
            id="gridBorderWidth"
            [color]="'primary'"
            [max]="'10'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.gridBorderWidth">
          </mat-slider>

          <!--网格边框颜色-->
          <!--<md2-colorpicker class="grid-border-color-picker" placeholder="{{'setting.gridBorderColor' | translate}}"-->
                           <!--[(ngModel)]="settings.gridBorderColor"></md2-colorpicker>-->

          <mat-card-actions>
            <button mat-raised-button (click)="reloadEcharts()" class="table-save">{{"table.save" | translate}}</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
          <!--x轴位置-->
          <mat-select class="xAxis-position" [(ngModel)]="settings.xAxisPosition"
                     placeholder="{{'setting.xAxisPosition' | translate}}">
            <mat-option [value]="'top'">
              {{'setting.xAxisTop' | translate}}
            </mat-option>
            <mat-option [value]="'bottom'">
              {{'setting.xAxisBottom' | translate}}
            </mat-option>
          </mat-select>
          <!--x轴类型-->
          <mat-select class="xAxis-type" [(ngModel)]="settings.xAxisType"
                     placeholder="{{'setting.xAxisType' | translate}}">
            <mat-option [value]="'value'">
              {{'setting.xAxisTypeValue' | translate}}
            </mat-option>
            <mat-option [value]="'category'">
              {{'setting.xAxisTypeCategory' | translate}}
            </mat-option>
            <mat-option [value]="'time'">
              {{'setting.xAxisTypeTime' | translate}}
            </mat-option>
            <mat-option [value]="'log'">
              {{'setting.xAxisTypeLog' | translate}}
            </mat-option>
          </mat-select>
          <!--x轴名称-->
          <mat-input-container class="input-area xAxisName">
            <input matInput placeholder="{{'setting.xAxisName' | translate}}" [(ngModel)]="settings.xAxisName">
          </mat-input-container>
          <!--x轴名称位置-->
          <mat-select class="xAxis-name-location" [(ngModel)]="settings.xAxisNameLocation"
                     placeholder="{{'setting.xAxisNameLocation' | translate}}">
            <mat-option [value]="'start'">
              {{'setting.xAxisNameStart' | translate}}
            </mat-option>
            <mat-option [value]="'middle'">
              {{'setting.xAxisNameMiddle' | translate}}
            </mat-option>
            <mat-option [value]="'end'">
              {{'setting.xAxisNameEnd' | translate}}
            </mat-option>
          </mat-select>

          <!--x轴字体大小-->
          <mat-select class="xAxis-font-size" [(ngModel)]="settings.xAxisFontSize"
                     placeholder="{{'setting.xAxisFontSize' | translate}}">
            <mat-option *ngFor="let titleSize of titleSizes" [value]="titleSize">
              {{ titleSize }}
            </mat-option>
          </mat-select>

          <!--x轴字体颜色-->
          <!--<md2-colorpicker class="xAxis-color-picker" placeholder="{{'setting.xAxisColor' | translate}}"-->
                           <!--[(ngModel)]="settings.xAxisColor"></md2-colorpicker>-->

          <!--x轴名称与轴线间距-->
          <label for="xAxisItemGap" class="itemGap xAxisItemGap">{{'setting.xAxisItemGap' | translate}}</label>
          <mat-slider
            id="xAxisItemGap"
            [color]="'primary'"
            [max]="'50'"
            [min]="'0'"
            [thumb-label]="true"
            [(ngModel)]="settings.xAxisItemGap">
          </mat-slider>

          <mat-card-actions>
            <button mat-raised-button (click)="reloadEcharts()" class="table-save">{{"table.save" | translate}}</button>
          </mat-card-actions>
        </mat-card>

      </section>
    </mat-tab>

  </mat-tab-group>
</section>



