@import "../../assets/css/skins/indigo-pink";
@import "../../assets/css/common";

@include section-common;

.titles {
  width: 46%;
  margin-top: 10px;
  margin-left: 10px;
}

.settings-save{
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

md-card-actions{
  height: 50px;
}

//改变colorpicker原有样式
:host ::ng-deep .input-focused {
  border-color: $basic-blue !important;
}

:host ::ng-deep .md2-colorpicker-input.input-focused .md2-colorpicker-placeholder {
  color: $basic-blue !important;
}

:host ::ng-deep .color-picker-selector .md2-colorpicker-value{
  min-width: 10px;
}

:host ::ng-deep .md2-colorpicker-input{
  min-width: 10px;
}

.title-color-picker,.subtitle-color-picker{
  display: inline-block;
  width: 48%;
}


.input-area{
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}

.table-save{
  float: right;
  margin: 10px 10px;
}

.add-item{
  display: inline-block;
  margin: 10px 10px;
}

.data-clear{
  float: right;
  margin: 10PX;
  margin-right: 0;
}

.title-font-size,.subtitle-font-size{
  width: 150px;
  margin: 10px;
  margin-top: 40px;
}

.title-slide-toggle{
  display: block;
  margin: 10px;
}

md-card{
  margin: 5px;
  margin-top: 10px;
}

.itemGap,.title-top,.title-left,.border-width,.legend-top,.legend-left{
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.legend-orient{
  display: block;
  width: 200px;
  margin-top: 35px;
}

.legend-font-size,.legend-color-picker{
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
}

.legend-color-picker{
  margin-left: 20px;
}

.selectedMode-slide-toggle,.legend-slide-toggle{
  display: inline-block;
}

.selectedMode-slide-toggle{
  margin-left: 30px;
}

.legendItemGap{
  margin-top: 35px;
}

.grid-slide-toggle,.xAxis-position,.xAxis-type{
  display: block;
}

.contain-label-slide-toggle,.xAxis-font-size{
  display: block;
}

.xAxisName{
  margin-left: 0;
}

.xAxisName,.xAxis-name-location,.xAxis-color-picker{
  margin-top: 35px;
}

.xAxis-type,.xAxis-font-size{
  margin-top: 55px;
}
