@import "../../../../assets/css/skins/indigo-pink";
@import "../../../../assets/css/common";

.input-area{
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
}

.table-save{
  float: right;
  margin: 10px 10px;
}

.add-item{
  display: inline-block;
  margin: 10px 10px;
}

.data-clear{
  float: right;
  margin: 10PX;
  margin-right: 0;
}
