#myline {
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
    height: 700px;
    width: 950px;
    border: 1px solid gray;
    margin-right: 10px;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
    position: relative;
}
nav{
    margin-left: 5px;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}
.dataarea{
    overflow: hidden;
    height: 700px;
    width: 400px;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
    position: absolute;
    left: 960px;
    top: 15px;
}
section{
    position: relative;
}