@import '../../assets/css/skins/indigo-pink.scss';


.background{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: $basic-blue;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  .card {
    width: 150px;
    height: 140px;
    margin-right: 20px;
    background: $basic-pink;
    border-radius: 40%;
    color: white;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }

    .card-content{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }

    .iconfont {
      font-size: 50px;
    }
  }
}
