<section>
  <div class="menuHolder">
    <div class="menuWindow">
      <ul class="p1">
        <li class="s1"><a><i class="fa fa-plus fa-2x"></i></a>
          <ul class="p2">
            <li class="s2"><a href="#"><span>语言</span></a>
              <ul class="p3 a3">
                <li><a (click)="useChinese()">中文</a></li>
                <li><a (click)="useEnglish()">English</a></li>
              </ul>
            </li>
            <li class="s2"><a href="#"><span>柱状图</span></a></li>
            <li class="s2"><a href="#"><span>折线图</span></a></li>
            <li class="s2"><a href="#"><span>饼图</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
